* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    background-color: black;
    border-radius: 15px;
    min-height: 40px;
    min-width: 100%;
    height: 60px;
}

header .ytlogo {
    max-height: 55px;
    min-height: 40px;
    padding-top: 5px;
    padding-left: 5px;
}

header a {
    float: left;
}

header p {
    padding-top: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white
    
}

.NVplusMem {
    background-color: white;
    background-image: url();
    color: black;
}

.pfp {
    margin-top: 5%;
    padding: 5px 10px;
    width: 50%;
    float: left;
    border-radius: 15%;
    max-width: 500px;
}

.ytvid { 
    width: 96%;
    margin-left: 2%;
    margin-top: 4%;
    border-radius: 3%;
    border: 3px solid black;
}

.NVplusMem h1 {
    color: red;  
    margin-top: 10px;     
}

.NVplusMem p {
    padding: 10px 20px;
    font-size: 30px;
}

.NVplusMem .newest-video {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    border: solid 3px black;
}
